/* General */

html,body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  color: black;
  margin: 10px;
  /* text-align: center; */
  /* font-size: 1.8em; */
  font-weight: thin;
}

/* NAV */
nav {
  position: fixed;
  left: 0px;
  min-width: 290px;
  height: 100%;
  border-right: solid;
  border-right-color: currentcolor;
  border-color: rgba(0, 22, 22, 0.4);
}

nav > ul {
  height: 88%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

nav li {
  list-style: none;
  color: #4d4e53;
  border-top: 1px solid;
}

nav a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

/* MAIN */
main {
  position: absolute;
  padding: 20px;
  margin-left: 310px;
  margin-bottom: 110px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 815px) {

  /* For mobile */
  nav > ul {
    border: 1px solid;
    height: 207px;
  }

  nav {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    max-height: 275px;
    z-index: 1;
  }

  main {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}


